.contacto {
  color: #fff;
  margin-top: -20px;
  height: 100vh;
  background-color: #25262a;
}
.contacto h3 {
  margin-top: 20px;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #2bd776;
  margin-bottom: 15%;
}
