/* Menu ----------------------------------------------------------------------------------------------------*/

body {
  font-family: Roboto Mono;
}
.nav-wrapper {
  background-color: #2d2e32;
}
.brand-logo {
  font-family: Lobster;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}
a {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3vw;
}
.img-svg {
  width: 22px;
  margin-bottom: -6px;
}

.email {
  margin-right: 25px;
}

.btn-floating i {
  color: #2bd776;
}

/* ------------------------------------------------  ------- Menu ----------------------------------*/
