/* ------------------------------------------------  -------Principal ----------------------------------*/
.main {
  height: 100vh;
  background-color: #2d2e32;
}

.profile {
  position: absolute;
  /* height: 60%; */
  top: 20%;
  font-size: 1px;
}

.parrafo1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 56px;
  color: #ffffff;
}
.profile-credito {
  font-weight: lighter;
  font-size: 15px;
  color: #ffffff;
}

.parrafo2 {
  font-family: Roboto Mono;
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  margin-top: -25px;
}

.bg-developer {
  position: relative;
  display: flex;
  align-content: center;
}

.svg-developer {
}

.info {
  margin-left: 10%;
  z-index: 3;
}

.info h4 {
  position: relative;
  padding: 8px;
  font-size: 20px;
  background: #2bd776;
  border-radius: 10px;
  color: #000;
  margin-top: 30px;
  width: 60%;
}

.wave {
  margin-bottom: -22px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
